In [3]:
#!pip install textblob
#!pip install langdetect
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/breabeals/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [4]:
#imports
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import numpy as np
import re
import random
from scipy import sparse
from scipy.sparse import csr_matrix, vstack
from textblob import TextBlob
from langdetect import detect_langs
import pickle

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from nltk.stem import WordNetLemmatizer, SnowballStemmer
from nltk.stem.porter import *
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from gensim.models import Word2Vec
import multiprocessing
import gensim
from gensim.utils import simple_preprocess

from sklearn.model_selection import train_test_split
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
from langdetect import detect
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score, classification_report
import plotly.graph_objects as go
import string


import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
import re
from gensim import utils
from gensim.models.doc2vec import LabeledSentence
from gensim.models import Doc2Vec
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
import matplotlib.pyplot as plt

### Loading Validation Set

Validation data found here: https://www.kaggle.com/gyani95/380000-lyrics-from-metrolyrics#lyrics.csv

In [3]:
#reading in validation set
df = pd.read_csv('lyrics.csv')
df = df.drop(["index"], axis = 1)

In [4]:
df.head()

,song,year,artist,genre,lyrics
0,ego-remix,2009,beyonce-knowles,Pop,"Oh baby, how you doing?\nYou know I'm gonna cu..."
1,then-tell-me,2009,beyonce-knowles,Pop,"playin' everything so easy,\nit's like you see..."
2,honesty,2009,beyonce-knowles,Pop,If you search\nFor tenderness\nIt isn't hard t...
3,you-are-my-rock,2009,beyonce-knowles,Pop,"Oh oh oh I, oh oh oh I\n[Verse 1:]\nIf I wrote..."
4,black-culture,2009,beyonce-knowles,Pop,"Party the people, the people the party it's po..."

In [5]:
#exploring what genres we currently have and dropping all genres that don't match the genres from the dataset that we built our models on
df.genre.value_counts()

Rock             131377
Pop               49444
Hip-Hop           33965
Not Available     29814
Metal             28408
Other             23683
Country           17286
Jazz              17147
Electronic        16205
R&B                5935
Indie              5732
Folk               3241
Name: genre, dtype: int64

## Cleaning

In [6]:
#dropping all rows not in genre_list
genre_list = ["Rock", "Pop", "Metal", "Country", "Folk"]
df = df[df.genre.isin(genre_list)]
#verifying
df.genre.value_counts()

Rock       131377
Pop         49444
Metal       28408
Country     17286
Folk         3241
Name: genre, dtype: int64

In [7]:
df.head()

,song,year,artist,genre,lyrics
0,ego-remix,2009,beyonce-knowles,Pop,"Oh baby, how you doing?\nYou know I'm gonna cu..."
1,then-tell-me,2009,beyonce-knowles,Pop,"playin' everything so easy,\nit's like you see..."
2,honesty,2009,beyonce-knowles,Pop,If you search\nFor tenderness\nIt isn't hard t...
3,you-are-my-rock,2009,beyonce-knowles,Pop,"Oh oh oh I, oh oh oh I\n[Verse 1:]\nIf I wrote..."
4,black-culture,2009,beyonce-knowles,Pop,"Party the people, the people the party it's po..."

In [8]:
#notice that some of the rows are missing lyrics and two rows are missing song data. We will drop these rows
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 229756 entries, 0 to 362236
Data columns (total 5 columns):
song      229756 non-null object
year      229756 non-null int64
artist    229756 non-null object
genre     229756 non-null object
lyrics    190090 non-null object
dtypes: int64(1), object(4)
memory usage: 10.5+ MB

In [9]:
df = df[pd.notnull(df['lyrics'])]
df = df[pd.notnull(df['song'])]

#also dropping year since it is unecessary
df = df.drop(["year"], axis = 1)

#renaming "lyrics" column "text" to match previous dataset
df["text"] = df["lyrics"]
df = df.drop(["lyrics"], axis = 1)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 190090 entries, 0 to 362236
Data columns (total 4 columns):
song      190090 non-null object
artist    190090 non-null object
genre     190090 non-null object
text      190090 non-null object
dtypes: object(4)
memory usage: 7.3+ MB

### Dummying Genre Column

In [11]:
#dummies for genre
genre_dummies = pd.get_dummies(df["genre"])
genre_dummies

        Country  Folk  Metal  Pop  Rock
0             0     0      0    1     0
1             0     0      0    1     0
2             0     0      0    1     0
3             0     0      0    1     0
4             0     0      0    1     0
...         ...   ...    ...  ...   ...
362232        1     0      0    0     0
362233        1     0      0    0     0
362234        1     0      0    0     0
362235        1     0      0    0     0
362236        1     0      0    0     0

[190090 rows x 5 columns]

In [12]:
df = pd.concat([df, genre_dummies], axis = 1)
df = df.drop(["genre"], axis = 1)
df.head()

,song,artist,text,Country,Folk,Metal,Pop,Rock
0,ego-remix,beyonce-knowles,"Oh baby, how you doing?\nYou know I'm gonna cu...",0,0,0,1,0
1,then-tell-me,beyonce-knowles,"playin' everything so easy,\nit's like you see...",0,0,0,1,0
2,honesty,beyonce-knowles,If you search\nFor tenderness\nIt isn't hard t...,0,0,0,1,0
3,you-are-my-rock,beyonce-knowles,"Oh oh oh I, oh oh oh I\n[Verse 1:]\nIf I wrote...",0,0,0,1,0
4,black-culture,beyonce-knowles,"Party the people, the people the party it's po...",0,0,0,1,0

## Subsetting the Data

Since our dataset is extremely large compared to the dataset we built our models on, we will randomly subset 1% of the data as a holdout set for predictions on the models we built.

In [13]:
df.shape

(190090, 8)

In [14]:
df = df.sample(frac=0.01, replace=False, random_state=1)

## Text PreProcessing

In [15]:
#exploring what this data looks like
df.text.head()

260192    Troppa cenere\nTroppa carne a cuocere per te\n...
226422                           Sprzedaje hasz i inne gwno
23305     Made of metal, made of metal, made of metal, m...
176961    I remember once I broke down in the country\nI...
1739      It being a fine morning, this young man he cho...
Name: text, dtype: object

In [16]:
# I noticed that line breaks do not have a space after them. So when I drop line breaks I need to replace them with a space
#remove line breaks
df['text'] = df['text'].map(lambda s: re.sub(r' \n|\n', ' ', s))

In [17]:
#examining text in round brackets
round_brackets = sum(list(df['text'].map(lambda s: re.findall(r'\((.*?)\)',s))), [])
#Number of round brackets:
print((len(round_brackets)))

1853

In [18]:
#Viewing some text in round brackets
#These just look like normal lyrics
random.seed(0)
random.choices(round_brackets, k=15)

['take my money away',
 'we are forever, we are forever',
 'Every',
 'somebody',
 'LET IT BE',
 'no surprise of mine',
 'on',
 'to me',
 "I don't know",
 'shoop-bop, shoop-bop',
 'spoken',
 'whoo, oh, hey',
 'Shalala dupdup shalala',
 'of the end',
 'ASCAP']

In [19]:
#examining text in square brackets
square_brackets = sum(list(df['text'].map(lambda s: re.findall(r'\[(.*?)\]',s))), [])
#how many instances of square brackets?
print((len(square_brackets)))

575

In [20]:
#Viewing some text in square brackets
random.seed(0)
random.choices(square_brackets, k=15)

#these appear to be song features - so will drop these like we did in the previous dataset

['Daniel Gindelow:',
 'Lead: Sahlgren',
 'Repeat',
 'chorus:',
 'Chorus',
 'Chorus',
 'Seohyun',
 'Chorus',
 'Delinom',
 'Chorus: Repeats',
 'Charisse',
 'Repeat: x4',
 'Chorus:Repeat',
 'Lead: Blomqvist',
 'Jamie Madrox:']

In [21]:
#re.sub(pattern, repl, string, count=0, flags=0)
# remove round brackets but not text within
df['text'] = df['text'].map(lambda s: re.sub(r'\(|\)', '', s))

# remove square brackest and text within
df['text'] = df['text'].map(lambda s: re.sub(r'\[(.*?)\] ', '', s))

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1901 entries, 260192 to 11531
Data columns (total 8 columns):
song       1901 non-null object
artist     1901 non-null object
text       1901 non-null object
Country    1901 non-null uint8
Folk       1901 non-null uint8
Metal      1901 non-null uint8
Pop        1901 non-null uint8
Rock       1901 non-null uint8
dtypes: object(3), uint8(5)
memory usage: 68.7+ KB

## Removing Non-English Songs

Since the data was significantly more messy, our function that we had previously defined to detect english probability had a difficult time moving past characters it could not recognize. To deal with this issue I began by removing all non alphabetic characters, and dropped any row there the text data contianed, "te, que, el, comme, avec, sur, si, and wa", which are some of the most commonly used words in several popular languges. I dropped all songs with text that simply said "INSTRUMENTAL" and also used a word count to drop any song with 15 or less words.

In [23]:
#removing punctuation to get rid of weird characters that I noticed in the text
df["text"] = df['text'].str.replace('[^\w\s]','')

In [24]:
df["text"]

260192    Troppa cenere Troppa carne a cuocere per te E ...
226422                           Sprzedaje hasz i inne gwno
23305     Made of metal made of metal made of metal made...
176961    I remember once I broke down in the country I ...
1739      It being a fine morning this young man he chos...
                                ...
31030     Theyre talking of ways to make you up to break...
324099    I have tried to find my way To make it through...
304159    Late in the evenin down by the dock Watchin th...
178100    The gaslamp flickers in the night And jingleja...
11531     Wine pretty red wine pretty red wine Pretty re...
Name: text, Length: 1901, dtype: object

In [25]:
#Exploring songs that might be in non-english based on most frequently used words in other languages
df = df[~df['text'].str.contains(" te ")]
df = df[~df['text'].str.contains(" que ")]
df = df[~df['text'].str.contains(" el ")]
df = df[~df['text'].str.contains(" comme ")]
df = df[~df['text'].str.contains(" avec ")]
df = df[~df['text'].str.contains(" sur ")]
df = df[~df['text'].str.contains(" si ")]
df = df[~df['text'].str.contains(" wa ")]
#removing rows where there are no lyrics and the text body just says "INSTRUMENTAL"
df = df[df['text'] != "INSTRUMENTAL"]

In [26]:
#finding the word count of each song
df['word_count'] = df['text'].str.split().str.len()
#dropping all songs with 15 words or less
df = df[df['word_count'] > 15]
df

,song,artist,text,Country,Folk,Metal,Pop,Rock,word_count
23305,made-of-metal,dream-evil,Made of metal made of metal made of metal made...,0,0,1,0,0,196
176961,shine-your-light-on-me,andrew-peterson,I remember once I broke down in the country I ...,0,1,0,0,0,295
1739,the-gold-claddagh-ring,andy-m-stewart,It being a fine morning this young man he chos...,0,1,0,0,0,275
40179,touch-of-yesterday,ferlin-husky,TOUCH OF YESTERDAY Dallas Frazier Arthur Leo ...,1,0,0,0,0,84
164810,there-must-be-someone-i-can-turn-to,the-byrds,There must be someone I can turn to Someone li...,0,0,0,0,1,145
...,...,...,...,...,...,...,...,...,...
72958,refrain,all,Music And Lyrics By Chad Price Im Starting All...,0,0,0,0,1,196
31030,love-s-cradle,3-colours-red,Theyre talking of ways to make you up to break...,0,0,0,0,1,151
324099,nothing-but-the-water-ii,grace-potter-the-nocturnals,I have tried to find my way To make it through...,0,0,0,0,1,265
304159,small-miracles,blue-rodeo,Late in the evenin down by the dock Watchin th...,0,0,0,0,1,203
11531,wine,conway-twitty,Wine pretty red wine pretty red wine Pretty re...,0,0,0,0,1,122

In [27]:
#Looking at the ros that don't include the word "a" to check for non-English songs remaining
df[~df['text'].str.contains(" the ")]

,song,artist,text,Country,Folk,Metal,Pop,Rock,word_count
40179,touch-of-yesterday,ferlin-husky,TOUCH OF YESTERDAY Dallas Frazier Arthur Leo ...,1,0,0,0,0,84
154077,sige-lang-ako,equilibrio,Siguro sadyang ganito ang buhay Di inaasahang ...,0,0,0,0,1,141
299768,i-killed-r-v,cliteater,Dull stupid ignorant face Smashing it into pie...,0,0,1,0,0,138
178377,ohm-sweet-ohm,apoptygma-berzerk,Ohm Sweet Ohm Ohm Sweet Ohm Ohm Sweet Ohm Ohm ...,0,0,0,1,0,24
310030,sympathy,bobby-bare,SYMPATHY Writers Bobby Bare Charlie Williams O...,1,0,0,0,0,163
...,...,...,...,...,...,...,...,...,...
337600,sick-bastard,exploited,The girl was screaming Go leave me alone She w...,0,0,0,0,1,147
179338,iv,dawn-of-dreams,My eyes burning in disguise so bright Feeding ...,0,0,1,0,0,42
160567,fine-art-of-falling,boy-sets-fire,I could lie here for a day Tongue tied and out...,0,0,0,0,1,157
304657,discriminate-me,agnostic-front,Freedom of my life give it back to me I wanna ...,0,0,0,0,1,63
72958,refrain,all,Music And Lyrics By Chad Price Im Starting All...,0,0,0,0,1,196

### Stemming and Preprocessing

In [50]:
stemmer = PorterStemmer()
def lemmatize_stemming(text):
 
    return stemmer.stem(WordNetLemmatizer().lemmatize(text, pos='v'))

def preprocess(text):

    result = []
    #stopwords = list(gensim.parsing.preprocessing.STOPWORDS)
    #stopwords.pop(stopwords.index('no'))
    for token in gensim.utils.simple_preprocess(text):
        #if token not in set(stopwords):
        result.append(lemmatize_stemming(token))
    return ' '.join(result)

In [51]:
df['text_preprocessed'] = df['text'].map(preprocess)

In [52]:
df.head()

,song,artist,text,Country,Folk,Metal,Pop,Rock,word_count,text_preprocessed,tokens,stem_str,tokens2
23305,made-of-metal,dream-evil,Made of metal made of metal made of metal made...,0,0,1,0,0,196,make of metal make of metal make of metal make...,"[make, metal, make, metal, make, metal, make, ...",make metal make metal make metal make metal ca...,"'make', 'metal', 'make', 'metal', 'make', 'met..."
176961,shine-your-light-on-me,andrew-peterson,I remember once I broke down in the country I ...,0,1,0,0,0,295,rememb onc break down in the countri be sixtee...,"[rememb, onc, break, countri, sixteen, break, ...",rememb onc break countri sixteen break heart b...,"'rememb', 'onc', 'break', 'countri', 'sixteen'..."
1739,the-gold-claddagh-ring,andy-m-stewart,It being a fine morning this young man he chos...,0,1,0,0,0,275,it be fine morn thi young man he choos that he...,"[fine, morn, thi, young, man, choos, hed, make...",fine morn thi young man choos hed make occas w...,"'fine', 'morn', 'thi', 'young', 'man', 'choos'..."
40179,touch-of-yesterday,ferlin-husky,TOUCH OF YESTERDAY Dallas Frazier Arthur Leo ...,1,0,0,0,0,84,touch of yesterday dalla frazier arthur leo ow...,"[touch, yesterday, dalla, frazier, arthur, leo...",touch yesterday dalla frazier arthur leo owen ...,"'touch', 'yesterday', 'dalla', 'frazier', 'art..."
164810,there-must-be-someone-i-can-turn-to,the-byrds,There must be someone I can turn to Someone li...,0,0,0,0,1,145,there must be someon can turn to someon like m...,"[must, someon, turn, someon, like, lone, life,...",must someon turn someon like lone life ive alo...,"'must', 'someon', 'turn', 'someon', 'like', 'l..."

In [53]:
#Checking what the tokens column look like before removing stopwords
df['text_preprocessed'].head()

23305     make of metal make of metal make of metal make...
176961    rememb onc break down in the countri be sixtee...
1739      it be fine morn thi young man he choos that he...
40179     touch of yesterday dalla frazier arthur leo ow...
164810    there must be someon can turn to someon like m...
Name: text_preprocessed, dtype: object

## Tokenization

In [54]:
#w+ for whitespace
tokenizer = nltk.tokenize.RegexpTokenizer(r'\w+')

#creating a new column called tokens
df['tokens'] = df['text_preprocessed'].map(tokenizer.tokenize)

In [55]:
df.head()

,song,artist,text,Country,Folk,Metal,Pop,Rock,word_count,text_preprocessed,tokens,stem_str,tokens2
23305,made-of-metal,dream-evil,Made of metal made of metal made of metal made...,0,0,1,0,0,196,make of metal make of metal make of metal make...,"[make, of, metal, make, of, metal, make, of, m...",make metal make metal make metal make metal ca...,"'make', 'metal', 'make', 'metal', 'make', 'met..."
176961,shine-your-light-on-me,andrew-peterson,I remember once I broke down in the country I ...,0,1,0,0,0,295,rememb onc break down in the countri be sixtee...,"[rememb, onc, break, down, in, the, countri, b...",rememb onc break countri sixteen break heart b...,"'rememb', 'onc', 'break', 'countri', 'sixteen'..."
1739,the-gold-claddagh-ring,andy-m-stewart,It being a fine morning this young man he chos...,0,1,0,0,0,275,it be fine morn thi young man he choos that he...,"[it, be, fine, morn, thi, young, man, he, choo...",fine morn thi young man choos hed make occas w...,"'fine', 'morn', 'thi', 'young', 'man', 'choos'..."
40179,touch-of-yesterday,ferlin-husky,TOUCH OF YESTERDAY Dallas Frazier Arthur Leo ...,1,0,0,0,0,84,touch of yesterday dalla frazier arthur leo ow...,"[touch, of, yesterday, dalla, frazier, arthur,...",touch yesterday dalla frazier arthur leo owen ...,"'touch', 'yesterday', 'dalla', 'frazier', 'art..."
164810,there-must-be-someone-i-can-turn-to,the-byrds,There must be someone I can turn to Someone li...,0,0,0,0,1,145,there must be someon can turn to someon like m...,"[there, must, be, someon, can, turn, to, someo...",must someon turn someon like lone life ive alo...,"'must', 'someon', 'turn', 'someon', 'like', 'l..."

### Removing stop words
Reference for more info: https://www.geeksforgeeks.org/removing-stop-words-nltk-python/

In [56]:
#setting stop words
nltk.download('stopwords')
from nltk.corpus import stopwords
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/breabeals/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [57]:
#removing stop words
df['tokens'] = df['tokens'].apply(lambda x: [item for item in x if item not in stop_words])

In [58]:
df.head()

,song,artist,text,Country,Folk,Metal,Pop,Rock,word_count,text_preprocessed,tokens,stem_str,tokens2
23305,made-of-metal,dream-evil,Made of metal made of metal made of metal made...,0,0,1,0,0,196,make of metal make of metal make of metal make...,"[make, metal, make, metal, make, metal, make, ...",make metal make metal make metal make metal ca...,"'make', 'metal', 'make', 'metal', 'make', 'met..."
176961,shine-your-light-on-me,andrew-peterson,I remember once I broke down in the country I ...,0,1,0,0,0,295,rememb onc break down in the countri be sixtee...,"[rememb, onc, break, countri, sixteen, break, ...",rememb onc break countri sixteen break heart b...,"'rememb', 'onc', 'break', 'countri', 'sixteen'..."
1739,the-gold-claddagh-ring,andy-m-stewart,It being a fine morning this young man he chos...,0,1,0,0,0,275,it be fine morn thi young man he choos that he...,"[fine, morn, thi, young, man, choos, hed, make...",fine morn thi young man choos hed make occas w...,"'fine', 'morn', 'thi', 'young', 'man', 'choos'..."
40179,touch-of-yesterday,ferlin-husky,TOUCH OF YESTERDAY Dallas Frazier Arthur Leo ...,1,0,0,0,0,84,touch of yesterday dalla frazier arthur leo ow...,"[touch, yesterday, dalla, frazier, arthur, leo...",touch yesterday dalla frazier arthur leo owen ...,"'touch', 'yesterday', 'dalla', 'frazier', 'art..."
164810,there-must-be-someone-i-can-turn-to,the-byrds,There must be someone I can turn to Someone li...,0,0,0,0,1,145,there must be someon can turn to someon like m...,"[must, someon, turn, someon, like, lone, life,...",must someon turn someon like lone life ive alo...,"'must', 'someon', 'turn', 'someon', 'like', 'l..."

In [59]:
#checking out the data
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1779 entries, 23305 to 11531
Data columns (total 13 columns):
song                 1779 non-null object
artist               1779 non-null object
text                 1779 non-null object
Country              1779 non-null uint8
Folk                 1779 non-null uint8
Metal                1779 non-null uint8
Pop                  1779 non-null uint8
Rock                 1779 non-null uint8
word_count           1779 non-null int64
text_preprocessed    1779 non-null object
tokens               1779 non-null object
stem_str             1779 non-null object
tokens2              1779 non-null object
dtypes: int64(1), object(7), uint8(5)
memory usage: 133.8+ KB

In [60]:
#checking out the distribution of the data
df.describe().transpose()

             count        mean         std   min    25%    50%    75%     max
Country     1779.0    0.070264    0.255664   0.0    0.0    0.0    0.0     1.0
Folk        1779.0    0.012929    0.112998   0.0    0.0    0.0    0.0     1.0
Metal       1779.0    0.129286    0.335611   0.0    0.0    0.0    0.0     1.0
Pop         1779.0    0.196178    0.397216   0.0    0.0    0.0    0.0     1.0
Rock        1779.0    0.591343    0.491724   0.0    0.0    1.0    1.0     1.0
word_count  1779.0  201.795391  112.371951  16.0  131.0  182.0  252.0  1881.0

In [61]:
#turning the stems back into untokenized structrure so that we can run count vector on it
df['stem_str'] = df['tokens'].map(lambda lst: ' '.join(lst))

In [62]:
df.head()

,song,artist,text,Country,Folk,Metal,Pop,Rock,word_count,text_preprocessed,tokens,stem_str,tokens2
23305,made-of-metal,dream-evil,Made of metal made of metal made of metal made...,0,0,1,0,0,196,make of metal make of metal make of metal make...,"[make, metal, make, metal, make, metal, make, ...",make metal make metal make metal make metal ca...,"'make', 'metal', 'make', 'metal', 'make', 'met..."
176961,shine-your-light-on-me,andrew-peterson,I remember once I broke down in the country I ...,0,1,0,0,0,295,rememb onc break down in the countri be sixtee...,"[rememb, onc, break, countri, sixteen, break, ...",rememb onc break countri sixteen break heart b...,"'rememb', 'onc', 'break', 'countri', 'sixteen'..."
1739,the-gold-claddagh-ring,andy-m-stewart,It being a fine morning this young man he chos...,0,1,0,0,0,275,it be fine morn thi young man he choos that he...,"[fine, morn, thi, young, man, choos, hed, make...",fine morn thi young man choos hed make occas w...,"'fine', 'morn', 'thi', 'young', 'man', 'choos'..."
40179,touch-of-yesterday,ferlin-husky,TOUCH OF YESTERDAY Dallas Frazier Arthur Leo ...,1,0,0,0,0,84,touch of yesterday dalla frazier arthur leo ow...,"[touch, yesterday, dalla, frazier, arthur, leo...",touch yesterday dalla frazier arthur leo owen ...,"'touch', 'yesterday', 'dalla', 'frazier', 'art..."
164810,there-must-be-someone-i-can-turn-to,the-byrds,There must be someone I can turn to Someone li...,0,0,0,0,1,145,there must be someon can turn to someon like m...,"[must, someon, turn, someon, like, lone, life,...",must someon turn someon like lone life ive alo...,"'must', 'someon', 'turn', 'someon', 'like', 'l..."

### Vectorization

In [63]:
df['tokens2']=df.tokens.apply(lambda x:str(x).strip('[]'))
df.head()

,song,artist,text,Country,Folk,Metal,Pop,Rock,word_count,text_preprocessed,tokens,stem_str,tokens2
23305,made-of-metal,dream-evil,Made of metal made of metal made of metal made...,0,0,1,0,0,196,make of metal make of metal make of metal make...,"[make, metal, make, metal, make, metal, make, ...",make metal make metal make metal make metal ca...,"'make', 'metal', 'make', 'metal', 'make', 'met..."
176961,shine-your-light-on-me,andrew-peterson,I remember once I broke down in the country I ...,0,1,0,0,0,295,rememb onc break down in the countri be sixtee...,"[rememb, onc, break, countri, sixteen, break, ...",rememb onc break countri sixteen break heart b...,"'rememb', 'onc', 'break', 'countri', 'sixteen'..."
1739,the-gold-claddagh-ring,andy-m-stewart,It being a fine morning this young man he chos...,0,1,0,0,0,275,it be fine morn thi young man he choos that he...,"[fine, morn, thi, young, man, choos, hed, make...",fine morn thi young man choos hed make occas w...,"'fine', 'morn', 'thi', 'young', 'man', 'choos'..."
40179,touch-of-yesterday,ferlin-husky,TOUCH OF YESTERDAY Dallas Frazier Arthur Leo ...,1,0,0,0,0,84,touch of yesterday dalla frazier arthur leo ow...,"[touch, yesterday, dalla, frazier, arthur, leo...",touch yesterday dalla frazier arthur leo owen ...,"'touch', 'yesterday', 'dalla', 'frazier', 'art..."
164810,there-must-be-someone-i-can-turn-to,the-byrds,There must be someone I can turn to Someone li...,0,0,0,0,1,145,there must be someon can turn to someon like m...,"[must, someon, turn, someon, like, lone, life,...",must someon turn someon like lone life ive alo...,"'must', 'someon', 'turn', 'someon', 'like', 'l..."

## Doc2Vec

In [64]:
train_tokens_documents = [TaggedDocument(doc, [i]) for i, doc in enumerate(df.tokens)]

In [65]:
train_tokens_documents[1]

TaggedDocument(words=['rememb', 'onc', 'break', 'countri', 'sixteen', 'break', 'heart', 'bloom', 'walk', 'home', 'pin', 'nobodi', 'saw', 'moon', 'sunris', 'could', 'hear', 'church', 'bell', 'ring', 'get', 'saint', 'march', 'sit', 'back', 'row', 'hear', 'stori', 'onc', 'servant', 'secret', 'fire', 'gather', 'ember', 'age', 'like', 'live', 'prayer', 'onc', 'saw', 'shadow', 'flee', 'shine', 'light', 'light', 'unto', 'path', 'lamp', 'unto', 'feet', 'fli', 'us', 'oklahoma', 'citi', 'yeah', 'could', 'hardli', 'stand', 'stage', 'sick', 'couldnt', 'speak', 'fever', 'wouldnt', 'break', 'step', 'microphon', 'hear', 'voic', 'brother', 'side', 'sing', 'song', 'song', 'die', 'oh', 'shine', 'light', 'somebodi', 'come', 'get', 'im', 'go', 'two', 'year', 'ago', 'drive', 'dark', 'straighten', 'everi', 'curv', 'cane', 'ridg', 'road', 'could', 'hear', 'flap', 'wing', 'everi', 'devil', 'know', 'insid', 'car', 'like', 'casket', 'flood', 'blaze', 'sacr', 'light', 'call', 'back', 'home', 'pull', 'drive', 'know', 'servant', 'secret', 'fire', 'gather', 'ember', 'age', 'like', 'live', 'prayer', 'stand', 'porch', 'could', 'see', 'shine', 'light', 'light', 'unto', 'path', 'lamp', 'unto', 'feet'], tags=[1])

In [66]:
model_holdout = gensim.models.doc2vec.Doc2Vec(train_tokens_documents,
                                            vector_size = 50, 
                                            min_count = 2, 
                                            epochs = 20) #Takes 5min

In [70]:
model_holdout.train(train_tokens_documents, 
                  total_examples = model_holdout.corpus_count, 
                  epochs = model_holdout.epochs) #Takes 5min

In [71]:
# used for running predictions on new data
model_holdout.infer_vector(train_tokens_documents[0].words, steps=20) #This changes every time. But within a certain range.

array([-0.86222804,  0.33935854,  0.12140794, -0.4089733 ,  0.00978596,
       -0.13175423,  1.3409412 ,  0.5417656 ,  0.714778  ,  0.08225816,
        1.6407701 , -0.11833015,  0.6676495 , -0.86509246, -0.46211484,
        0.42435247,  1.351325  , -0.52227163, -0.10082828, -1.2681862 ,
        0.14055014,  0.14464913,  0.07116066, -0.01974667, -0.3570293 ,
        0.1984167 , -0.6564224 , -0.32496032,  0.40502295,  0.5822045 ,
        0.4512831 , -0.32692635,  0.32676062, -1.0187132 , -0.49957043,
       -0.3575994 , -0.17567258, -0.13943337, -0.17401168, -0.02936449,
       -0.20552479, -0.2592669 , -0.4221869 ,  0.2958178 ,  0.3082903 ,
        0.10185903,  0.70811576, -0.5508853 , -0.26178128,  0.04672452],
      dtype=float32)

In [72]:
def vector_for_learning(model, input_docs):
    sents = input_docs
    targets, feature_vectors = zip(*[(doc.tags[0], model.infer_vector(doc.words, steps=20)) for doc in sents])
    return targets, feature_vectors

In [73]:
target_holdout, veclyrics_doc2vec_holdout = vector_for_learning(model_holdout, train_tokens_documents) #Takes 5min

In [74]:
veclyrics_doc2vec_holdout[0]

array([-0.84949553,  0.20052563,  0.09170129, -0.41967314,  0.00489607,
       -0.03886863,  1.2328469 ,  0.2619294 ,  0.7868101 ,  0.01791416,
        1.706111  , -0.16795704,  0.5482305 , -0.9578323 , -0.3184661 ,
        0.39674643,  1.4031183 , -0.47672632, -0.12108842, -1.3050094 ,
        0.08813295,  0.09059644,  0.1461452 ,  0.1455759 , -0.26636776,
        0.18195888, -0.70002323, -0.18760167,  0.46209332,  0.5742463 ,
        0.5194382 , -0.17754517,  0.0598299 , -0.9401601 , -0.4307914 ,
       -0.42418963,  0.00425922, -0.2140282 , -0.16693985, -0.02824881,
       -0.06317993, -0.2458372 , -0.40380865,  0.5161304 ,  0.25222534,
        0.15449125,  0.53319436, -0.4157766 , -0.11347432,  0.07849348],
      dtype=float32)

In [75]:
type(veclyrics_doc2vec_holdout)

tuple

In [76]:
len(veclyrics_doc2vec_holdout)

1779

### Formating like our previous dataset before saving

In [77]:
df["tokenstring"] = df["tokens2"]

In [78]:
#dropping uneccessary columns
df = df.drop(["text"], axis = 1)
df = df.drop(["text_preprocessed"], axis = 1)
df = df.drop(["tokens"], axis = 1)
df = df.drop(["stem_str"], axis = 1)
df = df.drop(["tokens2"], axis = 1)
df = df.drop(["word_count"], axis = 1)

In [79]:
df["country"] = df["Country"]
df["folk"] = df["Folk"]
df["pop"] = df["Pop"]
df["rock"] = df["Rock"]
df["metal"] = df["Metal"]
df = df.drop(['Country','Folk','Pop','Metal', "Rock"], axis = 1)

In [80]:
test = pd.concat([df.artist, df.song], axis = 1)
nan_value = float("NaN")
test.genres = nan_value
test["rock"] = df["rock"]
test["singer-songwriter"] = nan_value
test["pop"] = df["pop"]
test["metal"] = df["metal"]
test["folk"] = df["folk"]
test["country"] = df["country"]
test["hip hop / rap"] = nan_value
test["tokenstring"] = df["tokenstring"]
df = test

In [81]:
df

,artist,song,rock,singer-songwriter,pop,metal,folk,country,hip hop / rap,tokenstring
23305,dream-evil,made-of-metal,0,NaN,0,1,0,0,NaN,"'make', 'metal', 'make', 'metal', 'make', 'met..."
176961,andrew-peterson,shine-your-light-on-me,0,NaN,0,0,1,0,NaN,"'rememb', 'onc', 'break', 'countri', 'sixteen'..."
1739,andy-m-stewart,the-gold-claddagh-ring,0,NaN,0,0,1,0,NaN,"'fine', 'morn', 'thi', 'young', 'man', 'choos'..."
40179,ferlin-husky,touch-of-yesterday,0,NaN,0,0,0,1,NaN,"'touch', 'yesterday', 'dalla', 'frazier', 'art..."
164810,the-byrds,there-must-be-someone-i-can-turn-to,1,NaN,0,0,0,0,NaN,"'must', 'someon', 'turn', 'someon', 'like', 'l..."
...,...,...,...,...,...,...,...,...,...,...
72958,all,refrain,1,NaN,0,0,0,0,NaN,"'music', 'lyric', 'chad', 'price', 'im', 'star..."
31030,3-colours-red,love-s-cradle,1,NaN,0,0,0,0,NaN,"'theyr', 'talk', 'way', 'make', 'break', 'day'..."
324099,grace-potter-the-nocturnals,nothing-but-the-water-ii,1,NaN,0,0,0,0,NaN,"'tri', 'find', 'way', 'make', 'better', 'day',..."
304159,blue-rodeo,small-miracles,1,NaN,0,0,0,0,NaN,"'late', 'evenin', 'dock', 'watchin', 'bird', '..."
11531,conway-twitty,wine,1,NaN,0,0,0,0,NaN,"'wine', 'pretti', 'red', 'wine', 'pretti', 're..."

## Save vectorized lyrics and responses for train and test sets

#### Pickle vectorized lyrics

In [82]:
pickle.dump(veclyrics_doc2vec_holdout, open( "veclyrics_doc2vec_holdout.pkl", "wb" ))

#### Format and pickle genre response

In [84]:
df.to_pickle("response_doc2vec_holdout.pkl")

## Re-Loading and Running a Model on Genre: Rock

In [5]:
#opening the model file of our best model to make predictions on "Rock"
filename = 'gbtune.sav'
best = pickle.load(open(filename, 'rb'))

/Users/breabeals/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:144: FutureWarning:

The sklearn.ensemble.gradient_boosting module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.ensemble. Anything that cannot be imported from sklearn.ensemble is now part of the private API.

/Users/breabeals/opt/anaconda3/lib/python3.7/site-packages/sklearn/base.py:318: UserWarning:

Trying to unpickle estimator GradientBoostingClassifier from version 0.21.2 when using version 0.22.2.post1. This might lead to breaking code or invalid results. Use at your own risk.

/Users/breabeals/opt/anaconda3/lib/python3.7/site-packages/sklearn/base.py:318: UserWarning:

Trying to unpickle estimator DummyClassifier from version 0.21.2 when using version 0.22.2.post1. This might lead to breaking code or invalid results. Use at your own risk.

/Users/breabeals/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:144: FutureWarning:

The sklearn.tree.tree module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.tree. Anything that cannot be imported from sklearn.tree is now part of the private API.

/Users/breabeals/opt/anaconda3/lib/python3.7/site-packages/sklearn/base.py:318: UserWarning:

Trying to unpickle estimator DecisionTreeRegressor from version 0.21.2 when using version 0.22.2.post1. This might lead to breaking code or invalid results. Use at your own risk.

/Users/breabeals/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:144: FutureWarning:

The sklearn.metrics.scorer module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.

/Users/breabeals/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:144: FutureWarning:

The sklearn.metrics.classification module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.

/Users/breabeals/opt/anaconda3/lib/python3.7/site-packages/sklearn/base.py:318: UserWarning:

Trying to unpickle estimator GridSearchCV from version 0.21.2 when using version 0.22.2.post1. This might lead to breaking code or invalid results. Use at your own risk.

In [19]:
best

/Users/breabeals/opt/anaconda3/lib/python3.7/site-packages/sklearn/base.py:197: FutureWarning:

From version 0.24, get_params will raise an AttributeError if a parameter cannot be retrieved as an instance attribute. Previously it would return None.

GridSearchCV(cv=10, error_score='raise-deprecating',
             estimator=GradientBoostingClassifier(ccp_alpha=None,
                                                  criterion='friedman_mse',
                                                  init=None, learning_rate=0.1,
                                                  loss='deviance', max_depth=3,
                                                  max_features=None,
                                                  max_leaf_nodes=None,
                                                  min_impurity_decrease=0.0,
                                                  min_impurity_split=None,
                                                  min_samples_leaf=1,
                                                  min_samples_split=2,
                                                  min_weight_fraction_leaf=0.0,
                                                  n_estimato...
                                                  n_iter_no_change=None,
                                                  presort='auto',
                                                  random_state=3, subsample=1.0,
                                                  tol=0.0001,
                                                  validation_fraction=0.1,
                                                  verbose=0, warm_start=False),
             iid='warn', n_jobs=-1,
             param_grid={'learning_rate': [0.01, 0.05, 0.1],
                         'max_depth': [4, 5, 6], 'max_features': ['sqrt'],
                         'min_samples_leaf': [2, 3, 4]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='accuracy', verbose=10)

In [95]:
#reading in the holdout predictor pkl
X = pd.read_pickle('veclyrics_doc2vec_holdout.pkl')
#use this if there are no incompatible sklearn issue to save y_pred
#y_pred = best.predict(X)

In [96]:
#In case of incompatible sklearn issues, you can also load the 
y_pred = pd.read_pickle('holdoutresponse.pkl')

In [97]:
y_pred = pd.DataFrame(y_pred)

In [98]:
#reading the actual response data for the rock genre
y_actual = pd.DataFrame(pd.read_pickle("response_doc2vec_holdout.pkl"))

In [99]:
y_actual = y_actual["rock"]
y_actual

23305     0
176961    0
1739      0
40179     0
164810    1
         ..
72958     1
31030     1
324099    1
304159    1
11531     1
Name: rock, Length: 1779, dtype: uint8

In [100]:
type(y_actual)

pandas.core.series.Series

In [102]:
#create a confusion matrix and classification report for the model, using predicted and actual class values of the test set
from sklearn.metrics import confusion_matrix

#confusion matrix
(confusion_matrix(y_actual, y_pred))

array([[230, 497],
       [352, 700]])

In [103]:
from sklearn.metrics import classification_report
#classification report
print(classification_report(y_actual, y_pred))

              precision    recall  f1-score   support

           0       0.40      0.32      0.35       727
           1       0.58      0.67      0.62      1052

    accuracy                           0.52      1779
   macro avg       0.49      0.49      0.49      1779
weighted avg       0.51      0.52      0.51      1779

In [92]:
#Total number of actual rock songs
sum(y_actual)

1052

In [107]:
#predicted number of rock songs
y_pred.sum()

0    1197
dtype: int64